.Sophie {
  font-size: 75px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
  color: purple;
}

.Gummy {
  font-size: 75px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
  color: rgb(108, 163, 25);
}

* {
  text-align: center;
}

body {
  background-image: url("images/Higuog_sora.webp");
  background-size: 100vw 100vh;
}